
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 200px;
}
#controls {
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 4px;
  width: 180px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#zoneFilter, #filterButton {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
